body{
    font-family: Arial, sans-serif;
    background-color: #222222;
    padding: 0.1px;
    margin: 0px;


}


header{
background-color: #222222;

}





h1{
    text-align: center;
    font-family: "Playfair Display";
    color: #EEEEEE;
    font-weight: bold;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 300px;
    transition: transform 0.5s ease, opacity 0.5s ease;

}
#logo:hover {
    transform: scale(1.2);
}
nav{
    background-color: #26A69A;
    padding: 10px;
    margin: 0px;
    text-align: center;
    color: #EEEEEE;
    position: sticky;
    top: 0;


}

nav a{
    color: #EEEEEE;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;

}

nav a:hover{
    color: #AED581;
    transform: scale(1.1);
}

main{
    background-color: #333333;
    padding: 20px;
    text-align: justify;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

main img{
    aspect-ratio: 16/9;
}

fieldset{
    border: 0;
}

fieldset legend{
    font-weight: bold;
}
.imagen{
    background-image: url(../img/contacto.png);
    background-repeat: no-repeat;
    height: 300px;
    padding: 0;
    margin: 0px;

}

aside {
    background-color: #66BB6A;
    width: 35vw;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    border: 2px solid #26A69A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Georgia', serif;
}

aside h2 {
    color: #26A69A;
    font-size: 1.3em;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

aside a {
    text-decoration: none;
    color: #AED581;
    font-weight: bold;
    font-size: 1em;
}

aside a:hover {
    color: #26A69A;
    text-decoration: underline;
}

aside ul {
    padding-left: 20px;
    list-style-type: none;
}

aside ul li {
    margin-bottom: 10px;
    font-size: 1em;
    color: #BDBDBD;
}

aside img {
    display: block;
    margin: 0 auto 15px auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #AED581;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


footer{
    background-color: #222222;
    color: #66BB6A;
    padding: 20px;
    border-top: 2px solid  #EEEEEE;
    text-align: center;
    font-size: 0.9em;
    letter-spacing: 0.5px;
}

fieldset {
    background-color: #444444;
    border: 1px solid #66BB6A;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

fieldset legend {
    color: #EEEEEE;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #66BB6A;
}

form label {
    display: block;
    margin-top: 10px;
    color: #EEEEEE;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    background-color: #EEEEEE;
    color: #ffffff;
}

form textarea {
    height: 150px;
}

form input[type="checkbox"] {
    margin-top: 10px;
}

form button[type="submit"] {
    background-color: #26A69A;
    color: #EEEEEE;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #66BB6A;
}
p {
    color: #FFF;
}
h2 {
    color: #FFF;
}
h3 {
    color: #FFF;
}